body{
  background-color:#c9c9c9;
}

input[type=text]:focus{
    border-color: rgba(229, 103, 23, 0.8);
}

.panel_button{
  background-color:#e9e9e9;
}

.selected_pane{
  background-color:white;
}

.cartoon_titles{
  border-color: black;
  background-color: white;
  color: #c9c9c9;
}

.picture_container{
  background-color:white;
	border-color: black;
}

.picture_container_private{
  background-color:red;
  border-color: black;
  color:white;
}

.img_settings{
	background-image: url("../img/default/settings.png");
}

.img_settings:hover{
	background-image: url("../img/default/settings_hover.png");
}

.img_favorite_selected{
  background-image: url("../img/default/favorites_hover.png");
}

.img_favorite_selected_fav{
  background-image: url("../img/default/favorites_hover.png");
}

.img_lock{
  background-image: url("../img/default/lock.png");
}
.img_unlock{
  background-image: url("../img/default/unlock.png");
}

.clear_field{
  background-image: url("../img/default/delete.png");
}
#delete_album{
	background-color: #ff0000;
}

#delete_album:hover{
	background-color: #bc0303;
}

#add_new_album{
	background-image: url("../img/default/add_album.png");
}

#add_new_album:hover{
	background-image: url("../img/default/add_album_hover.png");
}

#show_favorites{
	background-image: url("../img/default/favorites.png");
}

#show_favorites:hover{
	background-image: url("../img/default/favorites_hover.png");
}

#gallery_config{
	background-image: url("../img/default/settings_black.png");
}

#gallery_config:hover{
	background-image: url("../img/default/settings_hover.png");
}

#go_home{
	background-image: url("../img/default/home.png");
}

#go_home:hover{
  background-image: url("../img/default/home_hover.png");
}
